.body{
  background-color: gainsboro;
}

.innovus{
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  padding-left: 15px;
  color: darkblue;
  margin-left: 20px;
  margin-top: -1px;
  display: inline-block;
}
.nav a{
list-style: none;
text-decoration: none;
padding-left: 15px;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
color: black;
margin-left: 20px;
margin-bottom: 40px;
}
.nav .Home{
  color: blue;
}
.nav .Home:hover{
  color: black;
}
.nav a:hover{
  background-color:white;
  color: blue;
}
.div2{
  display: flex;
margin-left: 20px; 
}
.div2 .h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  margin-bottom: -30px;
}
.div2 .h11{
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  margin-bottom: -5px;
}
.div2 .p1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px; 
  color: gray; 
  
}
.div2 a{
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  width: 110px;
  height: 20px;
  background-color: darkblue;
  color: white;
  border: none;
  
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-decoration: none;

}
.div2 a{
background-color: blue;
margin-top: 30px;
}
.div2 a:hover{
box-shadow: 6px 6px lightblue;
}
.div2 a:active{
  opacity: 0.6;
}

.img{
  width: 600px;
  height: 480px;
  margin-right: 150px;
  margin-bottom: -6px;
  border-radius: 20px;
}
.footer{
  display: flex;
  background-color:darkblue;
  width: 1285px;
  height: 100px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  margin-top: 6px;
  box-shadow: 6px 6px red;
}
.footer ul{
  text-decoration: none;
  list-style: none;
  text-align: center;
  margin-left: 85px;
  color: white;
}
.footer .line{
  background-color: white;
  width: 2px;
  height: 70px;
  margin-left: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer ul:hover{
  color: aqua;
cursor: pointer;
}
.footer ul:active{
  opacity: 0.6;
cursor: pointer;
}
.fruits1{
  font-size: 25px;
  
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
}
.vincent{
  width: 1100px;
  height: 1000px;
  background-color: black;
  color: white;
  font-size: 30px;
  font-family: sans-serif;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  text-align: center;
}
.vincent .img{
  width: 600px;
  height: 400px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  text-align: center;
}
.vincent .dr{
  color: goldenrod;
  font-size: 20px;
  font-family: sans-serif;
}
.vincent .p{
  color: gray;
  font-size: 30px;
  font-family: sans-serif;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
}
.click{
  font-size: 25px;
  color: darkblue;
  font-family: sans-serif;
  font-weight: bolder;
  text-align: center;
}
.fruits1 .grid{
  display: flex;
  width: 1200px;
  height: 280px;
  background-color: black;
  color: gray;
  margin-left: 40px;
}
.fruits1 .grid img{
  width: 250px;
  height: 200px;
  border-radius: 20px;
}
